.sign-in-form {
  position: relative;
  right: 120px;
  padding-top: 5px;
}

.sign-in-form-animate {
  right: -750px;
}

.sign-in-form input[type=text], input[name=password], textarea{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 5px 2px 5px 5px;
  margin: 3px 1px 13px 0px;
  border: none;
  font-size: 1em;
  /*font-family: 'Raleway', sans-serif;*/
  text-transform: uppercase;
  border-radius: 10px 10px 10px 0px;
}

.sign-in-form  label{
  font-size: 1.2em;
  text-transform: uppercase;
}

input[name=commit]{
  position-left: 200px;
  border: 0;
  margin: 0;
  position: relative;
  padding: 5px 5px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-appearance:none;
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
  transform: translate(2px,3px);
  color: #000;
  text-decoration: none;
  vertical-align: top;
  background-color: #FFF;
  letter-spacing: 4px;
  border-radius: 5px;
}

input[name=commit]:hover{
  background-color: #000;
  color: #FFF;
  border-radius: 5px;
}

#signup{
  width: 30%;
  margin: auto;
  padding-top: 7%;
}

#signup h2{
  font-size: 2em;
  letter-spacing: 4px;
}

#signup input[type=text], input[name=signup_p], input[name=signup_confirm], input[name=password], textarea{
  /*width: 100%;*/
  border-style: 0;
  border-radius: 1;
  letter-spacing: 4px;
}

#signup h3{
  font-size: 1.2em;
  letter-spacing: 4px;
}

#user_password, #user_username{
  font-size: 1.2em;
  width: 100%;
  border-style: 0;
  border-radius: 1;
  letter-spacing: 4px;
}

#user_password_confirmation{
  font-size: 1.2em;
  width: 100%;
  border-style: 0;
  border-radius: 1;
  letter-spacing: 4px;
}


#title a{
  color: #FFF;
  text-decoration: none;
}

#title a:hover{
  color: #000;
  text-shadow: 0px 0px 10px white, 2px 2px 3px black;
}

.log-out-link a{
  color: #FFF;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

.log-out-link a:hover{
  color: #000;
  text-shadow: 0px 0px 10px white, 2px 2px 3px black;
}




